<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/jquery.terminal@2.x.x/js/jquery.terminal.min.js"></script>

{{ $mainJs := resources.Get "js/main.js" | js.Build "main.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $mainJs.RelPermalink }}" defer></script>

{{ template "_internal/google_analytics.html" . }}
