// Colors
$dark-green: #2E5548;
$dark-grey: #080D10;
$grey: #333;
$light-green: #16C72E;
$lighter-green: #53D9A0;
$orange: #DE992E;
$teal: #A0DDC6;
$white: #FDFEFE;

// Fonts
$rock-salt: 'Rock Salt', cursive;
$ubuntu: 'Ubuntu', sans-serif;
