$ubuntu: 'Ubuntu', sans-serif;
$grey: #333;
// $dark-grey: #585858;
// $dark-green: #118C4E;
// $light-green: #C1E1A6;

$grey: #333;
$dark-grey: #080D10;
$light-green: #16C72E;
$white: #FDFEFE;
$dark-green: #2E5548;
$teal: #A0DDC6;
$lighter-green: #53D9A0;
$orange: #DE992E;
