.cmd, .cmd div, .cmd span, .terminal, .terminal-output > :not(.raw) a, .terminal-output > :not(.raw) div, .terminal-output > :not(.raw) span {
    background: $dark-green;
}

.cmd, .cmd div, .cmd span[data-text]:not(.cmd-inverted):not(.token):not(.emoji), .terminal, .terminal-output > :not(.raw) a, .terminal-output > :not(.raw) div, .terminal-output > :not(.raw) span[data-text]:not(.token):not(.inverted):not(.terminal-inverted):not(.cmd-inverted):not(.terminal-error):not(.emoji) {
    background: $dark-green;
}

.terminal {
    height: 450px;
    overflow: hidden;
    background: $dark-green;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.terminal-top-border {
    background: $dark-grey;
    color: $lighter-green;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-self: center;
}

.terminal-wrap {
    margin: 0 auto;
    width: 40%;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

@keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.cmd .cursor.blink {
    background: #c1e1a6;
    -webkit-animation: blink 1s infinite linear;
       -moz-animation: blink 1s infinite linear;
        -ms-animation: blink 1s infinite linear;
            animation: blink 1s linear infinite;
    -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
       -moz-box-shadow: 0 0 5px rgba(0,100,0,50);
        -ms-box-shadow: 0 0 5px rgba(0,100,0,50);
         -o-box-shadow: 0 0 5px rgba(0,100,0,50);
            box-shadow: 0 0 5px rgba(0,100,0,50);
}
