h1, h2, h3, h4, h5, p {
    font-family: $ubuntu;
    color: $dark-green;
}

.signature a {
    color: $orange;
    font-size: 34px;
    font-family: $rock-salt;
    margin-left: 10px;
    text-decoration: none;
    &:hover {
        color: $light-green;
    }
}

a {
    color: $dark-green;
    text-decoration: underline;
    &:hover {
        color: $dark-grey;
    }
}
